/*! ceratops v0.1.0 | MIT License | github.com/markvdkooij/ceratops */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
code,
pre,
blockquote,
hr {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  outline: none; }

html,
body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #2a2a2a; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
p,
figure,
pre,
table,
fieldset,
blockquote,
code,
hr {
  margin-top: 0;
  margin-bottom: 1rem; }

pre {
  padding: 1rem 1.25rem;
  background-color: #f2f2f2;
  overflow: auto;
  white-space: pre;
  word-wrap: normal; }

blockquote {
  padding: 1rem 1.25rem;
  background-color: #f2f2f2; }

code {
  padding: 1rem 1.25rem;
  background-color: #f2f2f2; }

hr {
  height: 2px;
  background-color: #f2f2f2;
  border: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  color: #2a2a2a; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

strong {
  font-weight: 700; }

em,
i {
  font-style: italic; }

u {
  text-decoration: underline; }

ul {
  margin-left: 1rem;
  list-style-position: outside;
  list-style-type: disc; }

ol {
  margin-left: 1rem;
  list-style-position: outside;
  list-style-type: decimal; }

dl dd {
  margin-left: 1rem; }

.container {
  position: relative;
  margin: 0 auto;
  width: auto; }
  @media screen and (max-width: 1024px) {
    .container {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 1025px) {
    .container {
      max-width: 960px; } }
  @media screen and (min-width: 1201px) {
    .container {
      max-width: 1140px; } }

.flex {
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  .flex:not(:last-child) {
    margin-bottom: 0.5rem; }
  .flex:last-child {
    margin-bottom: -0.5rem; }
  @media screen and (min-width: 769px) {
    .flex {
      display: flex; } }

.flex > .column {
  display: block;
  padding: 0.5rem; }
  @media screen and (min-width: 769px) {
    .flex > .column {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1; } }

@media screen and (min-width: 769px) {
  .flex--align-top {
    align-items: flex-start; }
  .flex--align-center {
    align-items: center; }
  .flex--align-bottom {
    align-items: flex-end; }
  .flex--gap-1 {
    --column-gap: 0.75rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-1 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-2 {
    --column-gap: 1rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-2 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-3 {
    --column-gap: 1.25rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-3 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-4 {
    --column-gap: 1.5rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-4 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-5 {
    --column-gap: 1.75rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-5 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-6 {
    --column-gap: 2rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-6 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-7 {
    --column-gap: 2.25rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-7 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-8 {
    --column-gap: 2.5rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-8 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-9 {
    --column-gap: 2.75rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-9 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-10 {
    --column-gap: 3rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-10 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); } }

@media screen and (min-width: 769px) {
  .flex > .column--size-1 {
    --column-size: 8.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-2 {
    --column-size: 16.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-3 {
    --column-size: 25%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-4 {
    --column-size: 33.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-5 {
    --column-size: 41.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-6 {
    --column-size: 50%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-7 {
    --column-size: 58.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-8 {
    --column-size: 66.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-9 {
    --column-size: 75%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-10 {
    --column-size: 83.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-11 {
    --column-size: 91.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-12 {
    --column-size: 100%;
    flex: none;
    width: var(--column-size); } }

/*# sourceMappingURL=ceratops.css.map */
