/*! ceratops v0.1.0 | MIT License | github.com/markvdkooij/ceratops */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
pre,
code,
blockquote,
hr {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  outline: none; }

html,
body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #2a2a2a; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
p,
figure,
pre,
blockquote,
code,
table,
fieldset,
hr {
  margin-top: 0;
  margin-bottom: 1rem; }

pre {
  padding: 1.25rem 1.5625rem;
  background-color: #f2f2f2;
  border-radius: 3px;
  overflow: auto;
  white-space: pre;
  word-wrap: normal; }

blockquote {
  padding: 1.25rem 1.5625rem;
  background-color: #f2f2f2;
  border-radius: 3px; }

code {
  padding: 1.25rem 1.5625rem;
  background-color: #f2f2f2;
  border-radius: 3px; }

hr {
  height: 2px;
  background-color: #f2f2f2;
  border: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  color: #2a2a2a; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

a,
.anchor {
  display: inline;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
  color: #ba403f; }
  a:visited,
  .anchor:visited {
    color: #ba403f; }
  a:hover,
  .anchor:hover {
    color: #a73939; }
  a:active, a:focus,
  .anchor:active,
  .anchor:focus {
    color: #943332; }
  a--primary,
  .anchor--primary {
    color: #ba403f; }
    a--primary:visited,
    .anchor--primary:visited {
      color: #ba403f; }
    a--primary:hover,
    .anchor--primary:hover {
      color: #a73939; }
    a--primary:active, a--primary:focus,
    .anchor--primary:active,
    .anchor--primary:focus {
      color: #943332; }
  a--secondary,
  .anchor--secondary {
    color: #3c887e; }
    a--secondary:visited,
    .anchor--secondary:visited {
      color: #3c887e; }
    a--secondary:hover,
    .anchor--secondary:hover {
      color: #34766e; }
    a--secondary:active, a--secondary:focus,
    .anchor--secondary:active,
    .anchor--secondary:focus {
      color: #2c655d; }
  a--tertiary,
  .anchor--tertiary {
    color: #3f89ba; }
    a--tertiary:visited,
    .anchor--tertiary:visited {
      color: #3f89ba; }
    a--tertiary:hover,
    .anchor--tertiary:hover {
      color: #397ba7; }
    a--tertiary:active, a--tertiary:focus,
    .anchor--tertiary:active,
    .anchor--tertiary:focus {
      color: #326d94; }

strong {
  font-weight: 700; }

em,
i {
  font-style: italic; }

u {
  text-decoration: underline; }

ul {
  margin-left: 1.25rem;
  list-style-position: outside;
  list-style-type: disc; }

ol {
  margin-left: 1.25rem;
  list-style-position: outside;
  list-style-type: decimal; }

dl dd {
  margin-left: 1rem; }

.container {
  position: relative;
  margin: 0 auto;
  width: auto; }
  @media screen and (max-width: 1024px) {
    .container {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 1025px) {
    .container {
      max-width: 960px; } }
  @media screen and (min-width: 1201px) {
    .container {
      max-width: 1140px; } }

.flex {
  margin-top: -0.75rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem; }
  .flex:not(:last-child) {
    margin-bottom: 0.25rem; }
  .flex:last-child {
    margin-bottom: -0.75rem; }
  @media screen and (min-width: 769px) {
    .flex {
      display: flex; } }

.flex > .column {
  display: block;
  padding: 0.75rem; }
  @media screen and (min-width: 769px) {
    .flex > .column {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1; } }

@media screen and (min-width: 769px) {
  .flex--valign-top {
    align-items: flex-start; }
  .flex--valign-center {
    align-items: center; }
  .flex--valign-bottom {
    align-items: flex-end; }
  .flex--halign-left {
    justify-content: flex-start; }
    .flex--halign-left > .column {
      text-align: left; }
  .flex--halign-center {
    justify-content: center; }
    .flex--halign-center > .column {
      text-align: center; }
  .flex--halign-right {
    justify-content: flex-end; }
    .flex--halign-right > .column {
      text-align: right; }
  .flex--gap-1 {
    --column-gap: 1rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-1 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-2 {
    --column-gap: 1.25rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-2 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-3 {
    --column-gap: 1.5rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-3 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-4 {
    --column-gap: 1.75rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-4 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-5 {
    --column-gap: 2rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-5 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-6 {
    --column-gap: 2.25rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-6 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-7 {
    --column-gap: 2.5rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-7 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-8 {
    --column-gap: 2.75rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-8 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-9 {
    --column-gap: 3rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-9 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); }
  .flex--gap-10 {
    --column-gap: 3.25rem;
    margin-right: calc(var(--column-gap) * -1);
    margin-left: calc(var(--column-gap) * -1); }
    .flex--gap-10 > .column {
      padding-left: var(--column-gap);
      padding-right: var(--column-gap); } }

@media screen and (min-width: 769px) {
  .flex > .column--size-1 {
    --column-size: 8.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-2 {
    --column-size: 16.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-3 {
    --column-size: 25%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-4 {
    --column-size: 33.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-5 {
    --column-size: 41.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-6 {
    --column-size: 50%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-7 {
    --column-size: 58.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-8 {
    --column-size: 66.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-9 {
    --column-size: 75%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-10 {
    --column-size: 83.33333%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-11 {
    --column-size: 91.66667%;
    flex: none;
    width: var(--column-size); }
  .flex > .column--size-12 {
    --column-size: 100%;
    flex: none;
    width: var(--column-size); } }

.box {
  margin-bottom: 1rem;
  padding: 1.25rem 1.5625rem;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 10px #e8e8e8;
  border-radius: 3px; }
  .box--neat > *:last-child {
    margin-bottom: 0; }

.button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.625rem 1.25rem;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  outline: none;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #2a2a2a;
  background-color: #f2f2f2;
  border-color: #f2f2f2; }
  .button:visited {
    color: #2a2a2a;
    background-color: #f2f2f2;
    border-color: #f2f2f2; }
  .button:hover {
    color: #2a2a2a;
    background-color: #e5e5e5;
    border-color: #e5e5e5; }
  .button:active, .button:focus {
    color: #2a2a2a;
    background-color: #d9d9d9;
    border-color: #d9d9d9; }
  .button--primary {
    color: #fff;
    background-color: #ba403f;
    border-color: #ba403f; }
    .button--primary:visited {
      color: #fff;
      background-color: #ba403f;
      border-color: #ba403f; }
    .button--primary:hover {
      color: #fff;
      background-color: #a73939;
      border-color: #a73939; }
    .button--primary:active, .button--primary:focus {
      color: #fff;
      background-color: #943332;
      border-color: #943332; }
    .button--primary--inverted {
      color: #ba403f;
      background-color: #fff;
      border-color: #ba403f; }
      .button--primary--inverted:visited {
        color: #ba403f;
        background-color: #fff;
        border-color: #ba403f; }
      .button--primary--inverted:hover {
        color: #ba403f;
        background-color: #f7f7f7;
        border-color: #ba403f; }
      .button--primary--inverted:active, .button--primary--inverted:focus {
        color: #ba403f;
        background-color: #f0f0f0;
        border-color: #ba403f; }
  .button--secondary {
    color: #fff;
    background-color: #3c887e;
    border-color: #3c887e; }
    .button--secondary:visited {
      color: #fff;
      background-color: #3c887e;
      border-color: #3c887e; }
    .button--secondary:hover {
      color: #fff;
      background-color: #34766e;
      border-color: #34766e; }
    .button--secondary:active, .button--secondary:focus {
      color: #fff;
      background-color: #2c655d;
      border-color: #2c655d; }
    .button--secondary--inverted {
      color: #3c887e;
      background-color: #fff;
      border-color: #3c887e; }
      .button--secondary--inverted:visited {
        color: #3c887e;
        background-color: #fff;
        border-color: #3c887e; }
      .button--secondary--inverted:hover {
        color: #3c887e;
        background-color: #f7f7f7;
        border-color: #3c887e; }
      .button--secondary--inverted:active, .button--secondary--inverted:focus {
        color: #3c887e;
        background-color: #f0f0f0;
        border-color: #3c887e; }
  .button--tertiary {
    color: #fff;
    background-color: #3f89ba;
    border-color: #3f89ba; }
    .button--tertiary:visited {
      color: #fff;
      background-color: #3f89ba;
      border-color: #3f89ba; }
    .button--tertiary:hover {
      color: #fff;
      background-color: #397ba7;
      border-color: #397ba7; }
    .button--tertiary:active, .button--tertiary:focus {
      color: #fff;
      background-color: #326d94;
      border-color: #326d94; }
    .button--tertiary--inverted {
      color: #3f89ba;
      background-color: #fff;
      border-color: #3f89ba; }
      .button--tertiary--inverted:visited {
        color: #3f89ba;
        background-color: #fff;
        border-color: #3f89ba; }
      .button--tertiary--inverted:hover {
        color: #3f89ba;
        background-color: #f7f7f7;
        border-color: #3f89ba; }
      .button--tertiary--inverted:active, .button--tertiary--inverted:focus {
        color: #3f89ba;
        background-color: #f0f0f0;
        border-color: #3f89ba; }

table tr th,
table tr td {
  padding: 0.625rem 1.25rem;
  border: 1px solid #e8e8e8;
  text-align: left; }

table tr th {
  background-color: #f2f2f2;
  font-weight: 700;
  vertical-align: middle; }

table tr td {
  vertical-align: top; }

/*# sourceMappingURL=ceratops.css.map */
