$size: 25vw;

.skeleton {
	@include frame();

	position: relative;
	margin-bottom: $margin;

	background-color: $color-skeleton;

	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: -#{$size};
		width: #{$size};
		height: inherit;

		background: $color-skeleton;
		background: linear-gradient(
			90deg,
			rgba($color-skeleton, 0%),
			rgba(lighten($color-skeleton, 4), 35%),
			rgba(lighten($color-skeleton, 4), 65%),
			rgba($color-skeleton, 100%)
		);

		animation: skeleton-shine 1s linear infinite;
	}
}

@keyframes skeleton-shine {
	0% {
		opacity: 1;
		left: -#{$size};
	}
	70% {
		opacity: 1;
		left: calc(100% + #{$size});
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		left: -#{$size};
	}
}
