.spinner {
	@include spinner();

	@for $i from 0 through 10 {
		&--size-#{$i} {
			$size: #{1rem * $i};
			$border: #{1rem / 6 * $i};

			width: $size;
			height: $size;
			border-width: $border;
		}
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
