blockquote {
	@include box();
}

pre {
	@include box();

	overflow: auto;
	white-space: pre;
	word-wrap: normal;
}

code {
	@include box();

	font-family: monospace;
}

output {
	@include box();
}

hr {
	border: none;
	border-top: $border-width solid $color-border;
}
