@mixin block() {
	margin-bottom: $margin;
	padding: $padding #{$padding * 1.25};

	background-color: $color-background;
	border: $border;
	border-radius: $radius;
	box-shadow: $shadow;
}

blockquote {
	@include block();
}

pre {
	@include block();

	overflow: auto;
	white-space: pre;
	word-wrap: normal;
}

code {
	@include block();

	font-family: monospace;
}

hr {
	height: 1px;

	background-color: $color-fill;
	border: none;
	box-shadow: $shadow;
}
