@mixin header() {
	font-weight: $header-font-weight;
	line-height: $header-line-height;
	font-family: $header-font-family;

	color: $color-header;
}

$headers: (
	h1: $header-h1-font-size,
	h2: $header-h2-font-size,
	h3: $header-h3-font-size,
	h4: $header-h4-font-size,
	h5: $header-h5-font-size,
	h6: $header-h6-font-size,
);

@each $header, $font-size in $headers {
	#{$header},
	.#{$mod-prefix}-#{$header} {
		@include header();

		font-size: $font-size;
	}
}
