// mixins

@mixin anchor-style-regular($color-text) {
	color: $color-text;

	&:hover {
		color: darken($color-text, 10);
	}

	&:active,
	&:focus {
		color: darken($color-text, 20);
	}
}

// anchor

a,
.anchor {
	display: inline;

	text-decoration: underline;

	outline: none;

	cursor: pointer;

	@include anchor-style-regular($color-primary);

	&--primary {
		@include anchor-style-regular($color-primary);
	}

	&--secondary {
		@include anchor-style-regular($color-secondary);
	}

	&--tertiary {
		@include anchor-style-regular($color-tertiary);
	}
}
