@mixin list() {
	margin-left: $margin-left;

	list-style-position: outside;
}

ul {
	@include list();

	list-style-type: disc;
}

ol {
	@include list();

	list-style-type: decimal;
}

dl {
	dd {
		margin-left: $margin-left;
	}
}
