@mixin list() {
	margin-bottom: $margin;
	padding-left: #{$padding * 1.25};

	list-style-position: outside;
}

ul {
	@include list();

	list-style-type: disc;
}

ol {
	@include list();

	list-style-type: decimal;
}

dl {
	dd {
		padding-left: $padding;
	}
}

.list {
	$list: &;

	@include list();

	list-style-type: disc;

	&__item {
		display: list-item;
	}

	&--unordered {
		list-style-type: disc;
	}

	&--ordered {
		list-style-type: decimal;
	}

	&--horizontal {
		padding-left: 0;

		list-style: none;

		#{$list}__item {
			display: inline-block;
			margin-right: #{$margin / 2};
		}
	}
}
