$mod-directions: top, right, bottom, left;
$mod-spacers: (
	margin: $margin,
	padding: $padding,
);

@each $mod-spacer, $mod-value in $mod-spacers {
	.#{$mod-prefix}-#{$mod-spacer} {
		#{$mod-spacer}: #{$mod-value};
	}

	@each $mod-direction in $mod-directions {
		.#{$mod-prefix}-#{$mod-spacer}-#{$mod-direction} {
			#{$mod-spacer}-#{$mod-direction}: #{$mod-value};
		}
	}

	@for $i from 0 through 10 {
		$variable-size: #{$i * 0.5rem};

		.#{$mod-prefix}-#{$mod-spacer}-#{$i} {
			#{$mod-spacer}: #{$variable-size};
		}

		@each $mod-direction in $mod-directions {
			.#{$mod-prefix}-#{$mod-spacer}-#{$mod-direction}-#{$i} {
				#{$mod-spacer}-#{$mod-direction}: #{$variable-size};
			}
		}
	}
}
