// font-weight

$mod-font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $mod-font-weight in $mod-font-weights {
	.#{$mod-prefix}-font-weight-#{$mod-font-weight} {
		font-weight: #{$mod-font-weight};
	}
}

// text-align

$mod-text-aligns: left, center, right, justify;

@each $mod-text-align in $mod-text-aligns {
	.#{$mod-prefix}-text-align-#{$mod-text-align} {
		text-align: #{$mod-text-align};
	}
}

// font-size

@for $i from 0 through 10 {
	$variable-size: #{$i * 0.25rem};

	.#{$mod-prefix}-font-size-#{$i} {
		font-size: #{$variable-size};
	}
}
