.columns {
	@media screen and (min-width: $tablet-portrait) {
		display: flex;
	}

	margin-top: -$column-gap;
	margin-right: -$column-gap;
	margin-left: -$column-gap;

	&:not(:last-child) {
		margin-bottom: $column-gap;
	}

	&:last-child {
		margin-bottom: -$column-gap;
	}
}

.column {
	display: block;

	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;

	padding: $column-gap;
}
