.container {
	position: relative;
	margin: 0 auto;
	width: auto;

	@media screen and (max-width: $tablet-landscape-max) {
		margin-right: $margin-right;
		margin-left: $margin-left;
	}

	@media screen and (min-width: $tablet-landscape) {
		max-width: 960px;
	}

	@media screen and (min-width: $desktop) {
		max-width: 1140px;
	}
}
