.container {
	position: relative;
	margin: 0 $margin;
	width: auto;

	@include min($tablet) {
		margin: 0 auto;
	}

	@include min($desktop) {
		max-width: 960px;
	}

	@include min($widescreen) {
		max-width: 1140px;
	}
}
