// base

.flex {
	$flex: &;

	margin-top: $margin;
	margin-bottom: $margin;

	margin-right: -$column-gap;
	margin-left: -$column-gap;

	@media screen and (min-width: $tablet-portrait) {
		display: flex;
	}
}

.flex > .column {
	display: block;

	padding-right: $column-gap;
	padding-left: $column-gap;

	@media screen and (min-width: $tablet-portrait) {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}
}

// modifiers

.flex {
	&--valign-top {
		align-items: flex-start;
	}

	&--valign-center {
		align-items: center;
	}

	&--valign-bottom {
		align-items: flex-end;
	}

	&--halign-left {
		justify-content: flex-start;

		> .column {
			text-align: left;
		}
	}

	&--halign-center {
		justify-content: center;

		> .column {
			text-align: center;
		}
	}

	&--halign-right {
		justify-content: flex-end;

		> .column {
			text-align: right;
		}
	}

	@for $i from 0 through 10 {
		$variable-size: #{$i * 0.25rem};

		&--padding-#{$i} {
			margin-right: calc(#{$variable-size} * -1);
			margin-left: calc(#{$variable-size} * -1);

			> .column {
				padding-left: $variable-size;
				padding-right: $variable-size;
			}
		}

		&--margin-#{$i} {
			margin-top: $variable-size;
			margin-bottom: $variable-size;
		}
	}
}

.flex > .column {
	@media screen and (min-width: $tablet-portrait) {
		@for $i from 1 through 12 {
			&--size-#{$i} {
				flex: none;
				width: #{100% / 12 * $i};
			}
		}
	}
}
