@mixin spinner() {
	$size: 1em;
	$border: calc(#{$size} / 6);

	display: inline-block;

	width: $size;
	height: $size;

	margin-right: #{$margin / 2};

	border: $border solid $color-body;
	border-right-color: transparent;
	border-radius: 50%;

	vertical-align: text-top;

	animation: spinner 0.75s linear infinite;
}
