@mixin min($bp) {
	@media screen and (min-width: $bp) {
		@content;
	}
}

@mixin max($bp) {
	@media screen and (max-width: calc($bp - 1px)) {
		@content;
	}
}

@mixin spinner() {
	$size: 1em;
	$border: calc(#{$size} / 6);

	display: inline-block;

	width: $size;
	height: $size;

	margin-right: #{$margin / 2};

	border: $border solid $color-body;
	border-right-color: transparent;
	border-radius: 50%;

	vertical-align: text-top;

	animation: spinner 0.75s linear infinite;
}

@mixin frame() {
	border: $border;
	border-radius: $radius;
	box-shadow: $shadow;
}

@mixin box() {
	@include frame();

	margin-bottom: $margin;
	padding: $padding #{$padding * 1.25};

	background-color: $color-background;
}
