// typography

$body-font-size: 16px !default;
$body-line-height: 1.6 !default;
$body-font-weight: 400 !default;
$body-font-family: Arial, Helvetica, sans-serif !default;

$header-line-height: 1.2 !default;
$header-font-weight: 700 !default;
$header-font-family: Arial, Helvetica, sans-serif !default;

$header-h1-font-size: 2.6rem !default;
$header-h2-font-size: 2.2rem !default;
$header-h3-font-size: 1.8rem !default;
$header-h4-font-size: 1.6rem !default;
$header-h5-font-size: 1.4rem !default;
$header-h6-font-size: 1.2rem !default;

// spacers

$margin: 1rem !default;
$padding: 1rem !default;

// columns

$column-gap: 0.75rem !default;

// colors

$color-body: #2a2a2a !default;
$color-header: #2a2a2a !default;
$color-background: #ffffff !default;
$color-html: #f9f9f9 !default;
$color-skeleton: #f2f2f2 !default;

$color-primary: #ba403f !default;
$color-secondary: #459b90 !default;
$color-tertiary: #3f89ba !default;

$color-fill: #dedede !default;
$color-border: #dedede !default;
$color-shadow: #dedede !default;

$color-focus: #3f89ba !default;
$color-focus-light: lighten($color-focus, 45) !default;

$color-success: #459b90 !default;
$color-success-light: lighten($color-success, 45) !default;

$color-error: #ba403f !default;
$color-error-light: lighten($color-error, 45) !default;

// box

$border-width: 1px;
$radius: 4px !default;
$border: $border-width solid $color-border !default;
$shadow-opt: 0 2px 0 !default;
$shadow: $shadow-opt $color-shadow !default;

// modifiers

$mod-prefix: cm !default;

// media queries

$widescreen: 1200px !default;
$desktop: 1024px !default;
$tablet: 768px !default;
$phone: 480px !default;
