.alert {
	margin-bottom: $margin;
	padding: #{$padding / 2} $padding;

	background-color: $color-background;
	border: $border;
	border-radius: $radius;
	box-shadow: $shadow;

	--color-background: #{$color-background};
	--color-border: #{$color-body};
	--shadow: #{$shadow-opt} #{$color-body};

	&--focus {
		--color-background: #{$color-focus-light};
		--color-border: #{$color-focus};
		--shadow: #{$shadow-opt} #{$color-focus};
	}

	&--success {
		--color-background: #{$color-success-light};
		--color-border: #{$color-success};
		--shadow: #{$shadow-opt} #{$color-success};
	}

	&--error {
		--color-background: #{$color-error-light};
		--color-border: #{$color-error};
		--shadow: #{$shadow-opt} #{$color-error};
	}

	background-color: var(--color-background);
	border-color: var(--color-border);
	box-shadow: var(--shadow);

	&--inline {
		padding: 0;

		background-color: transparent;
		border: none;
		box-shadow: none;

		color: var(--color-border);
	}
}
