.box {
	margin-bottom: $margin;
	padding: $padding #{$padding * 1.25};

	background-color: $color-background;
	border: $border;
	border-radius: $radius;
	box-shadow: $shadow;

	&--neat {
		> *:last-child {
			margin-bottom: 0;

			&.button-group {
				margin-bottom: -#{$margin / 2};
			}
		}

		> .flex:last-child {
			.column {
				> *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
