.box {
	@include frame();

	margin-bottom: $margin;
	padding: $padding #{$padding * 1.25};

	background-color: $color-background;

	&--neat {
		> *:last-child {
			margin-bottom: 0;

			&.button-group {
				margin-bottom: -#{$margin / 2};
			}
		}

		> .flex:last-child {
			.column {
				> *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
