table {
	@include frame();

	tr {
		th,
		td {
			padding: #{$padding / 2} $padding;
			border: 1px solid $color-border;
			text-align: left;
		}

		th {
			font-weight: $header-font-weight;
			vertical-align: middle;
		}

		td {
			vertical-align: top;
		}
	}
}
