@mixin input() {
	@include frame();

	display: block;

	width: 100%;
	height: auto;

	margin-bottom: $margin;
	padding: #{$padding / 2} $padding;

	font-size: $body-font-size;
	line-height: $body-line-height;
	font-weight: $body-font-weight;
	font-family: $body-font-family;

	text-align: left;

	background-color: $color-background;

	appearance: none;
	text-indent: 0;

	&:disabled,
	&[disabled],
	&[readonly] {
		background-color: $color-fill;
	}

	&:focus,
	&--focus {
		border-color: $color-focus;
		box-shadow: $shadow-opt $color-focus;
	}

	&--success {
		border-color: $color-success;
		box-shadow: $shadow-opt $color-success;
	}

	&--error {
		border-color: $color-error;
		box-shadow: $shadow-opt $color-error;
	}

	& + .alert--inline {
		margin-top: -#{$margin * 0.75};
	}
}

.input {
	@include input();
}

.textarea {
	@include input();

	min-height: #{$body-font-size * 8};

	&--large {
		min-height: #{$body-font-size * 24};
	}
}

.select {
	@include input();

	&[multiple] {
		padding: 0;

		option {
			padding: #{$padding / 2} $padding;
		}
	}
}

.select-wrapper {
	position: relative;

	&:after {
		$size: 4px;

		content: '';

		display: inline-block;

		position: absolute;
		top: calc(50% - #{$size * 2});
		right: 1rem;

		padding: $size;

		border: solid $color-body;
		border-width: 0 2px 2px 0;

		transform: rotate(45deg);

		pointer-events: none;
	}

	.select {
		padding-right: #{$padding * 2.5};
	}
}
