@mixin label() {
	display: inline-block;

	font-weight: $header-font-weight;
}

.field {
	&--inline {
		margin-bottom: $margin;

		@include min($tablet) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		label {
			width: 100%;

			@include min($tablet) {
				width: 20%;
				margin: 0;
				padding-right: $padding;
				text-align: right;
			}
		}

		.input,
		.textarea,
		.select {
			width: 100%;
			margin: 0;

			@include min($tablet) {
				width: 80%;
			}
		}

		.alert {
			display: block;
			flex: 1 1 100%;
			margin: $margin 0 0;
		}
	}
}

label {
	@include label();

	margin-bottom: #{$margin / 4};
}

.radio-group,
.checkbox-group {
	margin-bottom: $margin;

	label {
		font-weight: $body-font-weight;
	}

	input[type='radio'],
	input[type='checkbox'] {
		margin-right: #{$margin / 4};
	}

	.field {
		&--inline {
			display: inline-block;
			margin-bottom: 0;

			label {
				min-width: initial;
				width: auto;
				margin-right: $margin;
			}
		}
	}
}
